* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #f9eadf;
    padding-left: 1%;
}

h1,
h2,
h3,
h4 {
    padding-top: 1%;
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-weight: 400;
}

p {
    color: #23286b;
}

strong {
    color: #89b3f4;
}

ul {
    list-style-type: none;
}


/* Solid border */

hr.solid {
    border-top: 2px solid #23286b;
}

#terms {
    text-align: left;
}